<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Register your account</h1><br>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for i in register %}
            <tr>
                <td>{{i.label}}</td>
                <td>{{i}}</td>
            </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="Register" class="btn btn-outline-primary">
    </form>
    <p>if you alredy have an account <a href="/login" class="btn btn-outline-primary">Login</a></p>
</body>
</html>
