<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-striped">
            {% for i in form %}
            <tr align="center">
                <td>{{i.label}}</td>
                <td>{{i}}</td>
            </tr>
            {%endfor%}
        </table>
        <input type="submit" class="btn btn-outline-primary">
    </form>

    {%endblock%}
</body>
</html>
