<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    {% extends "index.html" %}
    {% block content %}
    
    <table border="1" width="30%" style="font-size: 22px;" class="table table-striped">
        <tr align="center">
        <th>Username</th>
        <th>Useraddress</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for i in data %}
    <tr align="center">
        <td>{{i.username}}</td>
        <td>{{i.useraddress}}</td>
        <td><a href="{% url 'edituser' i.username %}" class="btn btn-outline-primary">Edit</a></td>
        <td><a href="{% url 'deleteU' i.username %}" class="btn btn-outline-primary">Delete</a></td>
    </tr>
    {%endfor%}
    </table>

    {% endblock %}
</body>
</html>
